.avatar {
    height: 115px;
    width: 115px;
    margin-bottom: 10px;
    border-radius: 50%;
}

/* .nav-bar {
    font-family: 'Creepster', cursive;
    font-size: 28px;
    letter-spacing: 10px;
}
.nav-bar ul {
    text-align: center;
}
.nav-bar li {
    display: inline;
    list-style-type: none;
    padding: 15px;
} */

.about-link {
    font-size: 30px;
    margin-top: 15px;
}

a {
    font-family: 'Creepster', cursive;
    color: #bfbfbf;
    text-decoration: none;
}
a:hover { color: #f2afc6; }

.about-paragraph {
    width: 85%;
    max-width: 640px;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 25px;
}