.avatar {
    height: 115px;
    width: 115px;
    margin-bottom: 10px;
    border-radius: 50%;
}

/* .nav-bar {
    font-family: 'Creepster', cursive;
    font-size: 28px;
    letter-spacing: 10px;
}
.nav-bar ul {
    text-align: center;
}
.nav-bar li {
    display: inline;
    list-style-type: none;
    padding: 15px;
} */

body {
    font-family: 'Raleway', sans-serif;
    /* font-weight: 100; */
    line-height: 20px;
    letter-spacing: 1px;
}

.intro {
    height: 100vh;
}

.intro-paragraph {
    width: 85%;
    max-width: 640px;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 100;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 2px;
}

.more-link {
    font-size: 30px;
    margin-top: 15px;
    letter-spacing: 2px;
}

h1, a {
    font-family: 'Creepster', cursive;
    color: #d0d0d0;
    text-decoration: none;
}
a:hover { color: #f2afc6; }